{% extends 'Boiler/Base.html' %}
{% load static %}
{% block content %}

    <div class="container mt-5">
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    

        <div class="card">

            <div class="card-header">

              <b>T2 Configurations</b>

              <span class="float-end">
                {% if BotStatus %}
                    <i class="fa fa-circle text-success" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-circle text-danger" aria-hidden="true"></i>
                {% endif %}
              </span>

            </div>
            
            <div class="card-body">

                <div class="row">

                        <div class="col-lg-3 mt-3">
                            Name : {{ConfObj.ConfigurationName}}
                        </div>

                        <div class="col-lg-3 mt-3">
                            Token Status :
                            {% if TokenStatus %}
                                <i class="fa fa-check-circle-o text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Last Updated : {{ConfObj.TokenUpdatedDate}}"></i>
                            {% else %}
                                <i class="fa fa-times-circle text-danger" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Last Updated : {{ConfObj.TokenUpdatedDate}}"></i>
                            {% endif %}
                        </div>

                        <div class="col-lg-3 mt-3">
                            Balance : {{ConfObj.NormalBalance}}
                        </div>

                        <div class="col-lg-3 mt-3">
                            HZ Balance : {{ConfObj.HeroZeroBalance}}
                        </div>

                </div>

                <div class="row mb-3">

                        <div class="col-lg-3  mt-3">
                            HZ Status :
                            {% if ConfObj.HeroZeroStatus %}
                                <i class="fa fa-check-circle-o text-success"></i>
                            {% else %}
                                <i class="fa fa-times-circle text-danger"></i>
                            {% endif %}
                        </div>
                        <div class="col-lg-3  mt-3">
                            Strategy (Lot GT 2) : 
                            {{ConfObj.ActiveStrategyCodeFor0T1}}
                        </div>

                        <div class="col-lg-3  mt-3">
                            Strategy (Lot LT= 2) : 
                            {{ConfObj.ActiveStrategyCodeFor0TAll}}
                        </div>

                        <div class="col-lg-3  mt-3">
                            <a href="" data-bs-toggle="modal" data-bs-target="#ConfigureModel">Edit Configuration</a>
                        </div>

                </div>

            </div>

        </div>


        <!-- Configuration Modal -->
        <div class="modal fade" id="ConfigureModel" tabindex="-1" aria-labelledby="ConfigureModelLabel" aria-hidden="true">
            
            <div class="modal-dialog">

                <div class="modal-content">

                    <form method="post">
                        
                        {% csrf_token %}

                        <input type="hidden" name="Configuration" value="1">

                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Configuration</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label class="form-label">Configuration Name</label>
                                    <input type="text" class="form-control" name="ConfigurationName" value="{{ConfObj.ConfigurationName}}">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="form-label mt-3">Strategy ( 1 Lot )</label>
                                    <input type="text" class="form-control" name="ActiveStrategyCodeFor0T1" value="{{ConfObj.ActiveStrategyCodeFor0T1}}">
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label mt-3">Strategy ( 2 - inf )</label>
                                    <input type="text" class="form-control" name="ActiveStrategyCodeFor0TAll" value="{{ConfObj.ActiveStrategyCodeFor0TAll}}">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="form-label mt-3">Normal Balance</label>
                                    <input type="text" class="form-control" name="NormalBalance" value="{{ConfObj.NormalBalance}}">
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label mt-3">HERO-ZERO Balance</label>
                                    <input type="text" class="form-control" name="HeroZeroBalance" value="{{ConfObj.HeroZeroBalance}}">
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

        <div class="row">
            {% for i in Strategy %}
            <div class="col-lg-4">
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.StrategyCode }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ i.StrategyName }}</h6>
                        <p class="card-text">{{ i.StrategyDescription }}</p>
                        
                        <span><b>SL : {{i.SL}}%</b> | <b>TGT : {{i.TGT}}%</b></span><br>
                        <span><b>TM : {{i.TrailingMargin}}%</b> | <b>BreakEven : {{i.TrailingStartAt}}%</b></span><br>
                    </div>
                    <div class="card-footer">
                        <a href="" data-bs-toggle="modal" data-bs-target="#StrategyModel_{{ i.StrategyCode }}">Edit</a>
                    </div>
                </div>
            </div>

            <!-- Strategy Modal -->
            <div class="modal fade" id="StrategyModel_{{ i.StrategyCode }}" tabindex="-1" aria-labelledby="StrategyModel_{{ i.StrategyCode }}Label" aria-hidden="true">
                
                <div class="modal-dialog">

                    <div class="modal-content">

                        <form method="post">
                            
                            {% csrf_token %}

                            <input type="hidden" name="Configuration" value="2">
                            <input type="hidden" name="strategyCode" value="{{ i.StrategyCode }}">

                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{i.StrategyCode}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>


                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="form-label">Strategy Name</label>
                                        <input type="text" class="form-control" name="StrategyName" value="{{i.StrategyName}}">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="form-label mt-3">StopLoss</label>
                                        <input type="text" class="form-control" name="SL" value="{{i.SL}}">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-label mt-3">Target</label>
                                        <input type="text" class="form-control" name="TGT" value="{{i.TGT}}">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="form-label mt-3">Trailing Margin</label>
                                        <input type="text" class="form-control" name="TrailingMargin" value="{{i.TrailingMargin}}">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-label mt-3">Trailing StartAt</label>
                                        <input type="text" class="form-control" name="TrailingStartAt" value="{{i.TrailingStartAt}}">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="form-label mt-3">Description</label>
                                        <textarea name="StrategyDescription" rows="5" class="form-control">{{i.StrategyDescription}}</textarea>
                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

            {% endfor %}
        </div>
        
    
    </div>


{% endblock %}
